# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# Dataset
datasets/*.csv

# Generated outputs
runs/
results/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/